*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(13, 247, 169);
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
    

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap; /go to next line is space not permitting/
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: red;
    background-color: rgba(244, 244, 19, 0.932);
    transition: transform 0.3s ease-in-out;
}
#reset-button{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgba(233, 27, 202,1);
    border-radius: 1rem;
    border: none;
    color: white;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgba(233, 27, 202,1);
    border-radius: 1rem;
    border: none;
    color: white;
}
#message{
    color: rgb(244, 7, 7);
    font-size: 8vmin;
}
.msg-container{
    height: 30vmin;
}
.hide{
    display: none;
}

.box:hover{
    transform: scale(1.1);
}
